html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.fighters {
	display: flex;
	min-width: 80%;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	flex-wrap: wrap;
	padding: 0 15px;
}

.fighter {
	display: flex;
	flex-direction: column;
	padding: 20px;
	transition: all 0.2s ease-in-out;
}

.fighter:hover {
	box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.06);
	cursor: pointer;
}

.name {
	align-self: center;
	font-size: 21px;
	margin-top: 20px;
}

.fighter-image {
	height: 260px;
}

#loading-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	background: rgba(255, 255, 255, 0.7);
	visibility: hidden;
}

.info {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #00000050;
}

.info__content {
	background-color: #ffffff;
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px 20px;
	width: 300px;
	position: relative;
}

.info__content h3 {
	text-align: center;
}

.info__content .details {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	margin: 10px 0;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.pick-btn {
	margin: 20px auto;
	width: 80px;
	height: 30px;
	border-radius: 10px;
	background-color: #02662c;
}

.hide {
	display: none;
}
